@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;}

:root{
    --dark-green : #066057;
    --olive-green : #318067;
    --salat-green : #4BC1A0;
    --skin : #C9D1A5;
    --orange : #E1814C;
    --red : #D05657;





}
navbar{
    position: fixed;
    font-size: 25px;
    display: flex;
    height: 100px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    z-index: 10;
    
    /* background: rgb(255,255,255); */
    /* background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); */
    backdrop-filter: blur(5px);
}

.common_plants{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: var(--salat-green);
    display: flex;
    justify-content: center;
    align-items: center;

}

.plants_grid{
    /* height: 100%; */
    /* width: 100%; */

    gap: 30px;
    /* border-color: transparent; */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    left: auto;
    right: auto;
    
}


.suculents_text_block > h2{
    color: black;
    text-align: center;
}


.plant_card{
    background-color: white;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 350px;

    flex-direction: column;
    transition: transform 0.3s ease-in-out;

}

.plant_card:hover{
    transform: scale(1.1);

    transition: transform 0.3s ease-in-out;
}

.card_text_block{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
li{
    display: inline-block;

}
.card_img{
    border-radius: 10px;
    border: 1px solid transparent;
    object-fit: cover;
    height: 277px;
    width: 300px;
    /* background-color: black; */
    /* outline: none; */
}

.navbar_content{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    /* padding-top: 30px; */
}

.loza{
    position: absolute;
    width: 300px;
    height: auto;
    right: 0;
}

.first_block{
    position: absolute;
    width: 1400px;
    justify-content: space-between;
    align-items: center;
    top: calc(50% - 200px);
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    
}

.first_window{
    position: relative;
    height: 100vh;
    width: 100%;
}

.mainplant{
    width: 500px;
    height: auto;
    transform: rotate(-10deg);

}
.suculents{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: var(--olive-green);
    display: flex;
    justify-content: center;
    align-items: center;
}


footer{
    height: 20vh;
    background-color: hsl(174, 83%, 11%);
    position: relative;
}


.footer_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 600px);
    height: 100%;
    padding-left: 300px;
    padding-right: 300px;

    font-size: 30px;
}

.social_links{
    display: flex;
    gap: 50px;
}


.write_to_our{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
}

.write_to_our_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
    gap: 30px;
    width: 300px;
}

.write_to_our_content > .input_wrapper{
    display: flex;
    width: 100%;
    height: 100px;
    border-radius: 50px;
}

input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    outline: none;
    border: transparent;
    font-size: 20px;
}

input::placeholder{
    font-size: 20px;
    
    /* font-family: "Montserrat", sans-serif; */
}


textarea{
    font-size: 20px;

    width: 100%;
    height: 100%;
    border-radius: 10px;
    outline: none;
    border: transparent;
    width: 100%;
    height: 100%;

}

textarea::placeholder{
    font-size: 20px;

}


h1{
    font-size: 80px;
}
h2{
    font-size: 60px;
}
.suculents_text{
    font-size: 30px;
    text-align: justify;
    width: 700px;
    margin-top: 20px;
    text-indent: 50px;
}

.social_links > img{
    width: 50px;
    height: 50px;
}
a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: var(--skin);
}

@media screen and (max-width: 1500px){
    .mainplant{
        scale: 0.5;
    }

    .main_label{
        font-size: 50px;
        /* width: calc(100% - 20px); */
    }

    .plants_grid{
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .common_plants{
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;

    }

    .first_block{
        flex-direction: column;
    }

}

@media screen and (max-width: 1030px){
    .mainplant{
        display: none;
    }

    .first_block{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: none;
        justify-content: center;
    }

    .main_label{
        padding: 20px;
        text-align: center;
    }

    .navbar{
        display: none;
    }

}